<!doctype html>
<html>
    <head>
        <title>Madlibs Game</title>
    </head>
    <body>

        <form action="/madlib">
          <div>
            <p><label>Person: <input type="text" name="person"></label></p>
            <p><label>Color: <input type="text" name="color"></label></p>
            <p><label>Noun: <input type="text" name="noun"></label></p>
            <p><label>Adjective: <input type="text" name="adjective"></label></p>
          </div>
          <div>
            Pick your favorites: 
            <input type="checkbox" name="favorites" value="dog">Dog
            <input type="checkbox" name="favorites" value="cat">Cat
            <input type="checkbox" name="favorites" value="hedgehog">Hedgehog
            <input type="checkbox" name="favorites" value="yak">Yak
            <input type="checkbox" name="favorites" value="icecream">Ice Cream
            <input type="checkbox" name="favorites" value="shoes">Shoes
            <input type="checkbox" name="favorites" value="Beach">Beach
            <input type="checkbox" name="favorites" value="sleeping">Sleeping
        </div>

          <p><input type="submit"></p>
        </form>




    </body>
</html>