<!DOCTYPE html>
<html>
    <head>
      <title>Madlib Game</title>
    </head>
    
    <body>
        There once was a {{ color }} {{ noun }} sitting in the Hackbright Lab.
        When {{ person }} went to pick it up, it burst into flames in a totally
        {{ adjective }} way. {{ person }}, like to brush with

        {% if favorites %}
                {% for favorite in favorites %}
                    {{ favorite }},
                {% endfor %}
        
        {% endif %} .
    </body>
</html>